/* Global Styles */

:root {
  --yellow: #f5f382;
  --orange: #f88c00;
  --lightorange: rgb(247, 169, 66);
  --radius: 15px;
}

body {
  margin: 0;
}

* {
  font-family: Raleway, 'Times New Roman', Times, serif;
  font-size: 16px;
}

option, button {
  color: black;
  text-decoration: none;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-items: center;
  align-items: center;
}

.app-card {
  height: 700px;
  width: 375px;
  margin: 0 auto;
  /* border: 1px solid blue; */
  box-shadow: 5px 5px 5px grey;
  border-radius: var(--radius);
  overflow: hidden;
  background: linear-gradient(var(--yellow), 80%, #f88c00);
}

.app-card h1 {
  text-align: center;
  margin: 25px auto;
  font-family: 'Dancing Script', Raleway, Georgia;
  font-size: 50px;
}

.main-menu, 
.search-recipes,
.meal-choice,
.recipe,
.add-recipe {
  margin: 0px 10px 0px 10px;
  /* padding: 0px; */
  /* border: 1px solid blue; */
  height: 500px;
}

/* Header & Navigation Styles */

#header {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* margin: 10px auto; */
}

#navigation {
  /* background-color: #f88c00; */
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid green; */
  height: 40px;
}

#navigation svg:hover {
  cursor: pointer;
}

/* Home Button Styles */

.back-arrow {
  display: flex;
}

.back-arrow p {
  font-size: 12px;
  margin: 0 5px;
  align-self: flex-end;
}

.back-arrow svg {
  height: 30px;
  width: 30px;
  margin: 0 0 0px 15px;
}

/* Animations */

@keyframes slideInLeft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}

#slideInLeft {
  animation: slideInLeft 1s;
}

#slideInRight {
  animation: slideInRight 1s;
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(500px);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}

#slideOutRight {
  animation: slideOutRight 1s;
}

#slideOutLeft {
  animation: slideOutLeft 1s;
}

@keyframes backOutRight {
  0% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }

  20% {
      transform: translate(0px, 0px) scale(0.7);
      opacity: 0.7;
  }

  100% {
      transform: translate(2000px, 0px) scale(0.7);
      opacity: 0.7;
  }
}

@keyframes backOutLeft {
  0% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }

  20% {
      transform: translate(0px, 0px) scale(0.7);
      opacity: 0.7;
  }

  100% {
      transform: translate(-2000px, 0px) scale(0.7);
      opacity: 0.7;
  }
}

@keyframes backIn {
  0% {
    transform: translate(2000px, 0px) scale(0.7);
      opacity: 0.7;
  }

  20% {
      transform: translate(0px, 0px) scale(0.7);
      opacity: 0.7;
  }

  100% {
      transform: translate(0px, 0px) scale(1);
      opacity: 1;
  }
}

#backOutRight {
  transform-origin: 50% 50%;
  animation: backOutRight 1s ease 0s 1 normal both running;
}

#backOutLeft {
  transform-origin: 50% 50%;
  animation: backOutLeft 1s ease 0s 1 normal both running;
}

#backIn {
  transform-origin: 50% 50%;
  animation: backIn 1s ease 0s 1 normal both running;
}

/* Main Menu */

.main-menu h2 {
  text-align: center;
  font-size: 110%;
  margin-top: 0;
}

.main-menu p, 
.main-menu input, 
.main-menu select,
.main-menu label {
  font-size: 100%;
}

/* .choose-meal-type select {
  margin-left: 10px;
  padding: 0 15px;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 10px;
} */

.choose-meal-type {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

#meal-types {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 10px;
}

#meal-type-label {
  background-color: var(--orange);
  padding: 10px;
  color: white;
  border-radius: var(--radius);
  text-align: center;
  cursor: pointer;
  display: block;
  width: 80px;
}

#meal-types label:hover {
  background-color: var(--lightorange);
}

.options input, #meal-types input {
  display: none;
}

#meal-types input:checked ~ #meal-type-label {
  background-color: var(--lightorange);
}

.choose-other-options p {
  margin: 15px 10px; 
  text-align: center;
  margin-top: 20px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.each-option {
  width: 50%;
}

.options {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.options img {
  margin-bottom: 5px;
}

.options label {
  background-color: var(--orange);
  color: white;
  border-radius: 50%;
  font-size: 80%;
  padding: 15px;
  width: 60px;
  height: 60px;
}

.options label:hover {
  background-color: var(--lightorange);
}

.options input:checked ~ .label-background {
  background-color: var(--lightorange);
}

.options, .choose-meal-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.submit-options {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-options button {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid transparent;
  background-color: var(--orange);
  color: white;
  border-radius: var(--radius);
}

.submit-options button:hover {
  background-color: var(--lightorange);
}

.search-button-container {
  display: block;
  text-align: right;
  position: relative;
  top: -65px;
}

.search-button {
  border: none;
  background: none;
}

.search-button svg:hover {
  fill: black;
}

/* Meal Card */

.meal-picture {
  height: 320px;
  width: 300px;
  margin: 10px auto;
  overflow: hidden;
}

.meal-picture img {
  height: 320px;
  width: 300px;
  object-position: center;
  object-fit: cover;
  border-radius: var(--radius);
}

.meal-description {
  text-align: center;
}

.meal-description h2 {
  font-size: 150%;
}

.flipping-buttons {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.next, .heart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next p, .heart p {
  font-size: 12px;
}

.next svg, .heart svg {
  height: 50px;
  width: 50px;
}

.next svg:hover, .heart svg:hover {
  cursor: pointer;
  position: relative;
  top: -10px;
}

.next svg:hover {
  left: -10px;
}

.heart svg:hover {
  right: -10px;
}

/* Recipe Card */

.recipe {
  margin: 0 20px;
}

#recipe-container {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.recipe h2 {
  font-size: 110%;
  margin: 0px 10px 15px 0px;
}

.meal-picture-recipe {
  height: 120px;
  width: 120px;
  margin: 0 10px 0 0;
  float: right;
  overflow: hidden;
}

.meal-picture-recipe img {
  height: 120px;
  width: 120px;
  object-fit: center;
  object-fit: cover;
  border-radius: var(--radius);
}

.ingredients {
  min-height: 120px;
  min-height: fit-content;
  overflow: scroll;
}

.ingredients::-webkit-scrollbar {
  overflow: hidden;
}

.recipe-map {
  display: flex;
}

.recipe-map p {
  margin: 0 0px 10px 5px;
  font-size: 80%;
}

.recipe-map input {
  margin: 0 0px 10px 15px;
}

.instructions {
  min-height: 120px;
  max-height: 120px;
  margin-top: 5px;
}

#instructions-step {
  display: flex;
  align-items: center;
  overflow: hidden;
}

#instructions-step p {
  font-size: 95%;
}

#arrows {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#back-step, #next-step {
  display: flex;
  align-items: center;
}

#back-step p, #next-step p {
  font-size: 80%;
}

.recipe .back {
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipe .back button {
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: var(--radius);
}

.recipe .back button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

/* Search Page */

#search-container {
  height: 430px;
  /* border: solid blue 1px; */
}

.search-bar {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}

.search-bar input {
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 0 auto;
  color: grey;
  width: 300px;
  border-radius: var(--radius);
}

.search-results {
  height: 330px;
  overflow: scroll;
  margin: 0 20px;
}

.search-recipes .back {
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-recipes .back button {
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: var(--radius);
}

.search-recipes .back button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.search-result-link {
  text-decoration: underline;
}

.search-result-link:hover {
  cursor: pointer;
}

/* Error */

#error {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#error .back {
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#error .back button {
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: var(--radius);
}

#error .back button:hover {
  background-color: lightgrey;
  cursor: pointer;
}